@tailwind base;
@tailwind components;
@tailwind utilities;

/*
 * Base styles
 */
:root {
	--primary: #045cd6;
	--secondary: #aecffd;
	--tertiary: #3c80df;
	--hover: #1d72e9;
}

* {
	border: none;
}

@layer components {
	.card {
		@apply rounded-xl shadow-lg p-3;
		box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
		transition: 0.3s;
	}

	button {
		border: 1px;
		@apply focus:ring-darkBg border-solid border-darkSecondary py-2 px-4 rounded-full trans text-white bg-primary hover:bg-secondary hover:text-white dark:bg-black dark:hover:text-darkSecondary dark:hover:bg-darkPrimary trans;
	}

	.reverse {
		border: 1px;
		@apply outline-none border-solid  border-darkSecondary bg-primary text-white dark:bg-black hover:bg-white hover:text-primary hover:border-primary dark:hover:border-darkSecondary dark:hover:bg-darkPrimary trans;
	}

	.li {
		@apply flex p-2 align-middle justify-center text-center trans;
	}
	.trans {
		@apply transition-all duration-300;
	}
	.icon {
		align-items: center;
		align-self: center;
		font-size: 1.7rem;
		@apply cursor-pointer text-primary hover:text-secondary dark:text-darkSecondary hover:dark:text-darkPrimary trans;
	}
	.checkbox {
		border: 1px;
		@apply appearance-none cursor-pointer h-5 w-5 border-solid border-primary dark:border-darkSecondary rounded-md dark:bg-black mx-4 trans;
	}
	.checkbox:checked {
		@apply bg-primary border-darkSecondary  dark:bg-darkPrimary trans;
	}
}
